*{
    text-align: center;
    
}

.next{
    padding-top: 10px;
    font-size: large;
    background-color: white;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 140px;
    box-sizing: border-box;
    border-radius: 10px;
}
.next h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.next input{
    padding: 10px;
    color: #000;
    background-color: rgb(200, 206, 219);
    text-align: left;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-right: 200px;
    padding-bottom: 17px;
    padding-top: 15px;
    border-radius: 5px;
    border-color: antiquewhite;
    border: 5px;
    font-size: large;
}
.next ::placeholder{
    color: #000;
}
.sub input {
    color: white;
    background-color: rgb(57, 178, 211);
    font: 1em sans-serif;
    width: 26%;
    text-align: center;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 14px;
    padding-bottom: 13px;
}
.doc{
    background-color: rgb(84, 169, 182);
    padding-top: 20px;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin-right: 350px;
    margin-left: 360px;
}